@import '../src/scss/themes/theme-dark.scss';
@import '../src/scss/themes/theme-light.scss';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300&display=swap');

#root {
  --a-color: rgb(245, 220, 225);
  --b-color: rgb(235, 210, 215);
  --c-color: rgb(227, 200, 208);
  --d-color: rgb(215, 190, 195);
  --e-color: rgb(205, 180, 185);
  --f-color: rgb(195, 170, 175);
  --g-color: rgb(185, 160, 165);
  --h-color: rgb(175, 150, 155);
  --i-color: rgb(165, 140, 145);
  --j-color: rgb(155, 130, 135);
  --x-color: rgb(221, 188, 201);
  --y-color: rgb(185, 143, 160);
  --z-color: rgb(180, 125, 147);
  //unused
  --zz-color: #573757;
  --xx-color: #af9b9b;
  --yy-color: rgb(175, 135, 155);
}

html {
	font-size: 62.5%;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.aligner {
	display: flex;
	align-items: center;
	justify-content: center;
}

.title-container {
	height: 50px;
}

.title-styles {
	font-family: 'Raleway', sans-serif;
	font-size: 250%;
}

.header-icon {
	height: 150px;
	width: 150px;
}

header {
	position: relative;
	height: 520px;
	min-height: 450px;
	width: 100%;
	background-size: cover;
	-webkit-background-size: cover;
	text-align: center;
	overflow: hidden;
	background-color: var(--a-color);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	padding-top: 150px;
	padding-bottom: 0;
}

.language {
	font-size: 25px;
	background-color: var(--b-color);
	padding-bottom: 10px;
	padding-top: 80px;
}

#about {
	background: var(--c-color);
	overflow: hidden;
	.card {
        background: var(--x-color);
    }
	.card-header {
	background: var(--y-color);
}
}

#about h1 {
	padding-top: 5%;
	font: 18px/24px 'opensans-bold', sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: black;
	text-align: center;
}

#preview {
	width: 500px;
	background-color: var(--d-color);
	padding: 15px;
	position: relative;
	margin-bottom: 15%;
	max-height: 1000px;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

#portfolio {
	background: var(--d-color);
	padding-bottom: 5%;
}

#skills {
	background: var(--e-color);
	min-height: 200px;
	width: 100%;
	overflow: hidden;
	padding-bottom: 10%;
	color: black;
}

.skill-icon {
	font-size: 180%;
	color: black;
	text-align: center;
	position: relative;
}


#resume {
	background: var(--f-color);
	.vertical-timeline-element-content {
		background: var(--b-color);
		-webkit-box-shadow: 0 3px 0 var(--h-color);
		box-shadow: 0 3px 0 var(--h-color);
	}

	.vertical-timeline-element-icon {
	border-radius: 50%;
	margin: none;
	padding: none;
	border: none;
	position: absolute;
	}

	.vertical-timeline-element-content-arrow {
	border-right: 7px solid black;
	}

}

footer {
	background: var(--h-color);
	min-height: 100px;
	width: 100%;
	overflow: hidden;
	font-size: 14px;
	color: black;
	position: relative;
	text-align: center;
}

.language-icon {
	font-size: 50px;
	padding: 5px;
	border: 3px solid transparent;
	color: gray;
}

.language-icon:hover {
	font-size: 50px;
	cursor: pointer;
	border: 3px solid black;
	padding: 5px;
	border-radius: 10px;
}

.project-date {
	font-size: 16px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	padding: 8px 15px 2px 15px;
	position: relative;
	z-index: -500;
	border-top: 5px solid #696969;
	border-radius: 0 0 5px 5px;
	background-color: var(--h-color);
	color: white;
}

.skills-tile {
	background-color: var(--y-color);
	padding: 10px 10px 5px 10px;
	width: 100px;
	margin: 5px 0 5px 0;
	border-radius: 8px;
	-webkit-box-shadow: 0 3px 0 var(--j-color);
		box-shadow: 0 3px 0 var(--j-color);
}

header h1 {
	font-size: 400%;
	text-align: center;
	font-weight: 600 !important;
	color: #353239;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	margin: 0 auto 18px auto;
	width: 100%;
}

.slider-image {
	border: 5px solid var(--h-color);
}

.slider-tab {
	background-color: var(--h-color);
	height: 25px;
}

.slider-iconfiy {
	margin-top: 10px;
}

.styles_typicalWrapper__1_Uvh::after {
	cursor: none !important;
	display: none;
}

.foto img {
	display: block;
	width: 100%;
}

.foto div {
	background: var(--y-color);
	display: inline-block;
	margin: 0 auto 5% auto;
	padding: 10px 10px 5px;
	text-align: center;
	text-decoration: none;
	-webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	-webkit-transition: all .20s linear;
	-moz-transition: all .20s linear;
	transition: all .20s linear;
	z-index: 0;
	position: relative;
}

.foto div:after {
	color: #333;
	font-size: 25px;
	content: attr(title);
	position: relative;
	top: 15px;
}

.foto div:hover {
	-webkit-transform: scale(1.01);
	-moz-transform: scale(1.01);
	transform: scale(1.01);
	z-index: 10;
	-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
	-moz-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
	box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
}

.project-title-settings {
	margin-top: 5%;
	font: 18px/24px 'opensans-bold', sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: black;
	text-align: center;
}

.polaroid img {
	display: block;
	max-width: 200px;
}

.polaroid span {
	background: var(--z-color);
	align-items: center;
	display: inline-block;
	margin: 55px 75px 30px;
	padding: 15px 50px;
	text-align: center;
	text-decoration: none;
	-webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	-webkit-transition: all .20s linear;
	-moz-transition: all .20s linear;
	transition: all .20s linear;
	z-index: 0;
	position: relative;
}

.link-href {
	color: black;
}

.wave {
	font-size: 160%;
}

.font-trebuchet {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.experience-icon {
	font-size: 300%;
	margin-top: 25%;
	text-align: center;
	border: 5px solid black;
}

.main-badge {
	font-size: 13px !important;
	text-align: left !important;
	padding: 5px 8px 5px 8px !important;
	vertical-align: baseline;
	background-color: var(--x-color) !important;
	color: black;
	font-weight: lighter !important;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.experience-badge {
	font-size: 11px !important;
	text-align: left !important;
	padding: 5px 8px 5px 8px !important;
	vertical-align: baseline;
	background-color: var(--y-color) !important;
	color: black;
	font-weight: lighter !important;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.vertical-timeline-element-date {
	padding: 0 !important;
	margin: 0 !important;
}

@media only screen and (max-width: 1170px) {
	.experience-icon {
		font-size: 170%;
		margin-top: 27%;
		text-align: center;
	}
}

.modal-inside .modal-content {
	display: flex;
	background: rgb(235, 210, 245);
}

.modal-open {
	overflow: visible;
	height: max-content;
}

.bars {
	width: 95%;
	float: left;
	padding: 0;
	text-align: left;
}

.bars .skills {
	margin-top: 36px;
	list-style: none;
}

.bars li {
	position: relative;
	margin-bottom: 60px;
	background: var(--h-color);
	height: 42px;
	border-radius: 3px;
}

.bars li em {
	font: 15px 'opensans-bold', sans-serif;
	color: #9a73a1;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: normal;
	position: relative;
	top: -36px;
}

.bar-expand {
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	padding-right: 24px;
	background: #896f9b;
	display: inline-block;
	height: 42px;
	line-height: 42px;
	border-radius: 3px 0 0 3px;
}

.modal-close {
	text-align: right;
	padding: 10px 15px 10px 15px;
	cursor: pointer;
}

.close-icon {
	color: black;
	font-weight: lighter !important;
}

.modal-description {
	text-align: justify;
	padding: 5px 5px 0 5px;
	margin-bottom: 20px;
	font-size: 12px;
}

.awssld__next {
	outline: none !important;
}

.awssld__prev {
	outline: none !important;
}

.awssld__content {
	height: 700px;
}

.awssld__content > img {
	background-color: var(--z-color);
	height: fit-content;
}

.loader-bar-color {
	color: black !important;
}

.portfolio-item {
	max-width: 100%;
	margin-bottom: 15px;
	text-align: center;
}

.portfolio .portfolio-item .portfolio-item-caption {
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	transition: all ease 0.5s;
	opacity: 0;
	background-color: var(--h-color);
}

.portfolio .portfolio-item .portfolio-item-caption:hover {
	opacity: 1;
}

.portfolio .portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
	font-size: 1.5rem;
}

@media (min-width: 576px) {
	.portfolio .closeButtonResponsive {
		display: block;
	}
	.portfolio .portfolio-item {
		margin-bottom: 30px;
	}
}

.section-title {
	padding-top: 5%;
	padding-bottom: 5%;
	font: 18px/24px 'opensans-bold', sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: black;
	text-align: center;
}

footer a,
footer a:visited {
	color: black;
}

footer a:hover,
footer a:focus {
	color: #eee1f4;
}

.social-links {
	margin-top: 50px;
	font-size: 22px;
}
